@media (max-width:2561px){
   
    .hide-header {
        display: none;
    }
    .hide-header ul{
      display: none;
    }
}
@media (max-width:1127px){
   
    .main-header {
        grid-template-columns:10% 90%;
    }
    .main-header nav {
        display: grid;
        grid-column: 2/4;
    }
    
    .header-navigation ul li {
        padding-left: 30px;
    }
  
}

@media (max-width:1025px){
    .header-navigation ul li {
        padding-left:19px; 
 }
}

@media (max-width : 992px) {
    
    
    .kulani h1{
        font-size: 25px;
    }
    .photos h2{
       font-size: 25px;
    }
    .photos h3{
        font-size: 20px;
    }
    .photos p {
        font-size: 15px;
    }
    
    footer h2{
        font-size: 25px;
    }
    footer ul li {
        font-size: 15px;
    }
    #slider_bl{
        margin-left: 30px;
        margin-right: 30px;
    }
    .photos-content{
        margin-left: 30px;
        margin-right: 30px;
    }
}
@media (max-width : 769px) {
    .hide-header {
        display: grid;
    }
    
    .header-navigation-hide{
        display: grid;
    }
    .header-logo {
        justify-self: end;
        margin-right: 25px;
    }
    .main-header {
        display: none;
    }
    .header-logo ul li {
        padding: 15px;
        margin-right: 100px;
        font-size: 20px;
        list-style: none;
    }

    .header-logo:hover ul {
        margin: 0px;
        padding: 0px;
        
        background-color: rgba(0, 0, 0, 0.7);
      
        display: block;
        position: absolute;
        right: 1px;
        
    }
   .photos button {
    min-height: 32px;
    min-width: 112px;
   }
     .footer-container  {
        min-height: 45px;
    }
    .kulani {
        min-height: 500px;
    }
     
}
@media (max-width:426px){
    footer ul {
        margin-top: 40px;
        margin-left: 10px;
    }
    .kulani {
        min-height: 400px;
    }
    footer {
        min-height: 350px;
    }
    .hide-header i::before {
        font-size:45px;

    }
}
@media (max-width : 576px) {
    
    .footer-container  {
        min-height: 35px;
   }
   
   
}